@model WebFinal.ViewModels.FormsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>


<div class="container">
    <h2>Create your travel</h2>


    @using (Html.BeginForm("Save", "Project"))
    {
        @Html.HiddenFor(model => model.DataForm.Id)

        <div class="form-group">
            @Html.Label("NAME")
            @Html.TextBoxFor(model => model.DataForm.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataForm.Email)
            @Html.TextBoxFor(model => model.DataForm.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataForm.Duration)
            @Html.TextBoxFor(model => model.DataForm.Duration, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataForm.City)
            @Html.DropDownListFor(model => model.DataForm.City, new SelectList(Model.ListofCity, "Id", "Name"), new { @class = "form-control" })
        </div>

        <input type="submit" value="Save" />
    
    }

</div>

