@model WebFinal.Models.DataForm
@{
    ViewBag.Title = "SecondView";
}
<h2>Your reservation is ready!!!</h2>
<div class="form-group">
    @Html.Label("Welcome: ")
    @Html.DisplayFor(model => model.Name, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Label("Your Mail: ")
    @Html.DisplayFor(model => model.Email)
</div>
<div class="form-group">
    @Html.Label("Duration of Trip: ")
    @Html.DisplayFor(model => model.Duration)
</div>
<div class="form-group">
    @Html.Label("Detination: ")
    @Html.DisplayFor(model => model.NameC)
</div>
<div class="form-group">
    @Html.Label("ID of city: ")
    @Html.DisplayFor(model => model.City)
</div>
<div class="form-group">
    @Html.Label("Description of weather: ")
    @Html.DisplayFor(model => model.DescriptionforCloud)
</div>
<div class="form-group">
    @Html.Label("Enjoy your vacation: ")
    <img src="@Url.Content(Model.iconURL)" alt="Image" />
</div>
<div class="form-group">
    @Html.ActionLink("Back", "Index")
    @Html.ActionLink("Reservations", "AllReservations")
</div>